# VITE_API_BASE_URL=http://localhost:4000
VITE_API_BASE_URL=http://localhost:4000
# Change this:
# VITE_OAUTH_ISSUER=https://auth.sastranidhi.org

# To this:
VITE_OAUTH_ISSUER=http://localhost:4000

# Change this:
# VITE_PARIPRASHNA_REDIRECT=https://pariprashna.sastranidhi.org/callback

# To this:
VITE_PARIPRASHNA_REDIRECT=http://localhost:3001/callback